<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="UTF-8">
  <style>
    html, body {
      margin: 0;
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
    }
    iframe {
      width: calc(100% - 350px);
      height: 100vh;
      margin: 0;
      border: none;
    }
    nav {
      margin: 0;
      padding: 1em;
      box-sizing: border-box;
      float: left;
      height: 100vh;
      width: 350px;
      display: block;
      overflow: auto;
      border-right: 1px solid #AAA;
    }
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }
    li {
      padding: 5px;
      word-break: break-word;
    }
    li.odd {
      background-color: #efefef;
    }
    a {
      font-weight: bold;
      color: #333;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    h3 {
      border-bottom: 1px solid #aaa;
    }
  </style>
</head>
<body>
  <nav>
    <a href="summary.html" target="iframe">◄ Back to Index</a>
    <h3>Files</h3>
    <ul>
      <%- @covered_files.each_with_index do |file, index| -%>
        <%- row_color = index.odd? ? "odd" : "even" -%>
        <li class="<%= row_color %>"><a href="<%=file.md5%>.html" target="iframe"><%=file.filename%></li>
      <%- end -%>
    </ul>
  </nav>
  <iframe name="iframe" src="summary.html"></iframe>
</body>
</html>