<!DOCTYPE html>
<html>
<head>
  <title>Crystal Coverage</title>
  <meta charset="UTF-8">
  <style>
    html, body {
      margin: 0;
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
    }

    body {
      padding: 20px;
    }

    table {
      margin: auto;
      border: 1px solid #AAA;
      width: 100%;
    }

    thead, tfoot {
      background-color: #ddd;
    }

    th {
      text-align: left;
    }

    th,td {
      padding: 5px 20px;
    }
    tr {
      border-bottom: solid 1px black;
    }

    tr.odd {
      background-color: #efefef;
    }

    a {
      font-weight: bold;
      color: #333;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

  </style>
</head>
<body>
  <h1>Covering report</h1>
  <hr>
  <table cellspacing="0">
    <thead>
      <th>File</th>
      <th>Relevant lines</th>
      <th>Covered lines</th>
      <th>Percentage covered</th>
    </thead>
    <tbody>
      <%- @covered_files.each_with_index do |file, index| -%>
      <%- row_color = index.odd? ? "odd" : "even" -%>
      <tr class="<%= row_color %>">
        <td><a href="<%=file.md5%>.html"><%=file.filename%></a></td>
        <td><%=file.relevant_lines%></td>
        <td><%=file.covered_lines%></td>
        <td><%=file.percent_coverage_str%></td>
      </tr>
      <%- end -%>
      <tfoot>
        <th>TOTAL: </th>
        <th><%= total_relevant %></th>
        <th><%= total_covered %></th>
        <th><%= total_percentage %></th>
      </tfoot>
    </tbody>
  </table>
</body>
</html>